
@media (max-width: 700px){
    .locationList {
        max-height:  200px;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.forecast-title {
    color: white;
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 16px;
}